<form [formGroup]="updateUserForm" (ngSubmit) = "onSubmitUpdateUser()">
    <div class="form-group">
        <input type="text" name="name" class="form-control" formControlName = "name"  aria-describedby="nameHelp" placeholder="Name" [ngClass] = "{ 'is-invalid': submitted && errorInput.name.errors }">
        <div *ngIf="submitted && errorInput.name.errors" class="invalid-feedback">
            <div *ngIf="errorInput.name.errors.required">First Name is required</div>
        </div> 
    </div>
    <div class="form-group">
        <input type="text" name="surname" class="form-control" formControlName = "surname" aria-describedby="surnameHelp" placeholder="Surname" [ngClass] = "{ 'is-invalid': submitted && errorInput.surname.errors }">
        <div *ngIf="submitted && errorInput.surname.errors" class="invalid-feedback">
            <div *ngIf="errorInput.surname.errors.required">First Surname is required</div>
        </div> 
    </div>
    <div class="form-group">
        <input type="text" name="login" class="form-control" formControlName = "login" aria-describedby="loginHelp" placeholder="Login" [ngClass] = "{ 'is-invalid': submitted && errorInput.login.errors }">
        <div *ngIf="submitted && errorInput.login.errors" class="invalid-feedback">
            <div *ngIf="errorInput.login.errors.required">First Login is required</div>
        </div> 
    </div>
    <div class="form-group">
      <input type="email" name="email" required  class="form-control" formControlName = "email" aria-describedby="emailHelp" placeholder="Email" [ngClass] = "{ 'is-invalid': submitted && errorInput.email.errors }">
      <div *ngIf="submitted && errorInput.email.errors" class="invalid-feedback">
          <div *ngIf="errorInput.email.errors.required">Email is required</div>
          <div *ngIf="errorInput.email.errors.email">Email must be a valid email address</div>
      </div>
    </div>
    <div class="form-group">
      <input type="password" name="password" required class="form-control" formControlName = "password" placeholder="Password" [ngClass] = "{ 'is-invalid': submitted && errorInput.password.errors }">
      <div *ngIf="submitted && errorInput.password.errors" class="invalid-feedback">
          <div *ngIf="errorInput.password.errors.required">Password is required</div>
          <div *ngIf="errorInput.password.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check form-check-inline">
        <input class="form-check-input"  type="radio" name="status" formControlName = "status" id="inlineRadio1" value="user" [ngClass] = "{ 'is-invalid': submitted && errorInput.status.errors }">
        <label class="form-check-label" for="inlineRadio1">User</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="status" formControlName = "status" id="inlineRadio2" value="admin" [ngClass] = "{ 'is-invalid': submitted && errorInput.status.errors }">
        <label class="form-check-label" for="inlineRadio2">Admin</label>
      </div>
    </div>
    <button [disabled]="loading" type="submit" class="btn btn-primary">Update User</button>
  </form>
  