.head{
    width: 100%;
    height: 40px;
    display: flex;
    background-color: rgb(134, 98, 253);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
}
.head img {
    height: 40px;
    padding-bottom: 10px;
}
.head h3{
    position: relative;
    margin: 0;
    padding: 0;
    height: 30px;
    left: 10px;
}
.head button{
    position: absolute;
    top: 0px;
    right: 10px;
}
.list{
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0; 
    left: 20px;
}
.list ul {
    margin: 0;
    padding: 0;
}
.list ul li{
    text-align: center;
    list-style: none;
}
.list ul li a {
    font-size: 15px;
    color: white;
    margin-left: 10px;    
}