<div class="head">
    <img src="../../assets/001-man.png" alt="user"> <h3>{{loginAdmin}}</h3>
    <div class="list">
      <ul>
        <li>
          <a [routerLink] = "'setting'">Settings</a>
          <a [routerLink] = "''">My profile</a>
        </li>
      </ul>
    </div>
    <button (click) = "exitUsers()" class="btn btn-danger" [routerLink] = "'/'">Exit</button>
</div>