<h3>Add Magazine</h3>
<form [formGroup]="addNewMagazineForm" (ngSubmit) = "onSubmitAddNewMagazine()">
    <div class="form-group">
        <input type="text" name="title" class="form-control" formControlName = "title" aria-describedby="nameHelp" placeholder="Title" [ngClass] = "{ 'is-invalid': submitted && errorInput.title.errors }">
        <div *ngIf="submitted && errorInput.title.errors" class="invalid-feedback">
            <div *ngIf="errorInput.title.errors.required">First Title is required</div>
        </div> 
    </div>
    <div class="form-group">
      <input type="text" name="picture" class="form-control" formControlName = "picture"  aria-describedby="nameHelp" placeholder="Link Picture" [ngClass] = "{ 'is-invalid': submitted && errorInput.picture.errors }">
      <div *ngIf="submitted && errorInput.picture.errors" class="invalid-feedback">
          <div *ngIf="errorInput.picture.errors.required">First Link is required</div>
      </div> 
    </div>
     <div class="form-group">
       <input type="text" class="form-control" formControlName = "description" name = "description" placeholder="Description" [ngClass] = "{ 'is-invalid': submitted && errorInput.description.errors }">
       <div *ngIf="submitted && errorInput.description.errors" class="invalid-feedback">
          <div *ngIf="errorInput.description.errors.required">First Description is required</div>
      </div> 
     </div>
     <div class="form-group">
      <input type="text" class="form-control" formControlName = "text" name = "description" placeholder="text" [ngClass] = "{ 'is-invalid': submitted && errorInput.text.errors }">
      <div *ngIf="submitted && errorInput.text.errors" class="invalid-feedback">
         <div *ngIf="errorInput.text.errors.required">First Text is required</div>
     </div> 
     </div>
     <div class="form-group">
        <input type="text" class="form-control" formControlName = "publisher" name = "publisher" placeholder="publisher" [ngClass] = "{ 'is-invalid': submitted && errorInput.publisher.errors }">
        <div *ngIf="submitted && errorInput.publisher.errors" class="invalid-feedback">
           <div *ngIf="errorInput.publisher.errors.required">First Publisher is required</div>
       </div> 
    </div>
    <div class="form-group">
      <select class="form-control" id="inputGroupSelect01" formControlName = "authorId" [ngClass] = "{ 'is-invalid': submitted && errorInput.authorId.errors }">
        <option selected *ngFor = "let author of allAuthors; let i = index" value={{author._id}}>{{author.name}}</option>
      </select>
    </div>
    
    <button type="submit" class="btn btn-primary">Add Magazine</button>
  </form>