.header-setting{
    text-align: center;
}
.list ul{
    display: inline;
}
.list ul li{
    text-align: center;
    list-style: none;
}
.setting-user ul li{
    list-style: none;
}
.setting-user ul li label{
    margin-right: 10px;
}
form{
    width: 50%;
    margin-left: 25%;
}
form input{
    width: 100%;
}