<div class="setting">
  <div class="header-setting">
    <h3>
      Настройки пользователя
    </h3>
  </div>
  <div class="list">
  </div>
  <div class="setting-user">
    <ul>
      <form #setting="ngForm" (ngSubmit) = "onSubmitSaveSetting(setting)">
        <label for="">Имя</label>
        <input type="text" name="name" ngModel novalidate #name = "ngModel" value={{userDataName}}>
        <label for="">Фамилия</label>
        <input type="text" name="surname" ngModel novalidate #surname = "ngModel" value={{userDataSurname}}>
        <label for="">Пароль</label>
        <input type="password" name="password" ngModel novalidate #password = "ngModel">
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    </ul>
  </div>
</div>