.head{
    width: 100%;
    height: 40px;
    display: flex;
    border-bottom: 1px solid black;
}
.head h3{
    position: relative;
    left: 20px;
}
.head button{
    position: absolute;
    right: 10px;
}