<div class="header">
  <h3>
    Библиотека
  </h3>
</div>
<div class="filter">
  <form action="">
    <span>Название</span><input type="text">
    <button>Поиск</button>
  </form>
</div>
<div class="collection-library">
  <div class="card-group">
    <div class="card" *ngFor = "let book of books">
      <div class="card-body">
          <img src={{book.picture}} class="img-fluid" alt="Адаптивные изображения">
        <h5 class="card-title">Название: {{book.title}}</h5>
        <p class="card-text">Автор: {{book.authorId}}</p>
      </div>
    </div>
  </div>