.header{
    position: relative;
    text-align: center;
}
.card{
    margin: 10px;
    width: 50% !important;
}
.addLibrary{
    position: relative;
    margin-top: 20px;
    text-align: center;
}
.addLibrary form {
    display: inline-block;
}
a{
    color: black;
}