.books{
    text-align: center;
}
.card{
    width: 30%;
    margin: 5px;
    position: relative;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card:nth-child(3n){
    clear: both;
}