<h1>Author Name: {{AuthorData?.name}}</h1>
<div class="books">
  <h4>All Books Author</h4>
  <div class="card" style="width: 18rem;" *ngFor = 'let book of booksData' >
    <h4>Book</h4>
    <div class="card-body">
      <img src={{book.picture}} class="img-fluid" alt="Адаптивные изображения">
      <h6 class="card-title">Название: {{book.title}}</h6>
      <h6 class="card-title" id="descriptionsBook">Описание: {{book.description}}</h6>
    </div>
  </div>
</div>
<div class="books">
  <h4>All Magazine Author</h4>
  <div class="card" style="width: 18rem;" *ngFor = 'let magazine of magazinesData' >
    <h4>Magazine</h4>
    <div class="card-body">
      <img src={{magazine.picture}} class="img-fluid" alt="Адаптивные изображения">
      <h6 class="card-title">Название: {{magazine.title}}</h6>
      <h6 class="card-title" id="descriptionsBook">Описание: {{magazine.description}}</h6>
      <h6 class="card-title">{{magazine.publisher}}</h6>
    </div>
  </div>
</div>