<div class="list">
  <h3>
    Настройка пользователей
  </h3>
</div>
<div class="messageBlock">
  <div *ngIf = "messageSetting" class="messageSetting">
    <h3>{{message}}</h3>
  </div>
</div>
<div class="search-block">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">Search</span>
      </div>
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" (keyup)="onKey($event)">
    </div>
</div>
<div class="buttonAdmin">
  <button (click) = "showFormAdd()" class="btn btn-success" id="btnAddUser">{{textAddUserButton}}</button>
</div>
<!-- (click)="clickedInside($event)" -->
<div class="modal-window" *ngIf = "addUserBlock">
  <app-popup-admin-add-user class="modal-window-form" (addNewUserResult) = "addUserBlockFunction($event)"></app-popup-admin-add-user>
</div>

<div *ngIf = "removeUserBlock" class="modal-window">
    <app-popup-admin-update-user [user]="user" (updateUserResult) = "removeUserFunction($event)" class="modal-window-form"></app-popup-admin-update-user>
</div>
<div class="users" *ngIf = "searchUser">
  <div class="card" style="width: 18rem" *ngFor = 'let user of liveSearch | paginate: { itemsPerPage: 6, currentPage: p }'>
      <div class= "card-body">
        <h6 class="card-title">{{user.name}}</h6>
        <h6 class="card-title">{{user.surname}}</h6>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><h6>Login: {{user.login}}</h6></li>
        <li class="list-group-item"><h6>Email: {{user.email}}</h6></li>
        <li class="list-group-item"><h6>Status: {{user.status}}</h6></li>
        <li class="list-group-item"><h6>Id: {{user._id}}</h6></li>
        <li class="list-group-item"><h6>closed: {{user.closed}}</h6></li>
      </ul>
      <div class="card-body">
        <button class="btn btn-success" #btnRemove value="{{i}}" (click) = 'removeUser(user)'>Update</button>
        <button  class="btn btn-danger" #btnDelete value="{{i}}" (click) = 'deleteUser($event)'>Delete</button>
      </div>
  </div>
  <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
</div>

<div class="users" *ngIf = "allShowUser">
  <div class="card" style="width: 18rem;"  *ngFor = 'let user of users | paginate: { itemsPerPage: 6, currentPage: p }; let i = index '>
    <div class="card-body">
      <h6 class="card-title">{{user.name}}</h6>
      <h6 class="card-title">{{user.surname}}</h6>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><h6>Login: {{user.login}}</h6></li>
      <li class="list-group-item"><h6>Email: {{user.email}}</h6></li>
      <li class="list-group-item"><h6>Status: {{user.status}}</h6></li>
      <li class="list-group-item"><h6>Id: {{user._id}}</h6></li>
      <li class="list-group-item"><h6>closed: {{user.closed}}</h6></li>
    </ul>
    <div class="card-body">
      <button class="btn btn-success" #btnRemove value="{{i}}" (click) = 'removeUser(user)'>Update</button>
      <button  class="btn btn-danger" #btnDelete value="{{i}}" (click) = 'deleteUser($event)'>Delete</button>
    </div>
  </div>
  <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
</div>

