.users{
    text-align: center;
}
.card{
    height: 500px;
    width: 30%;
    margin: 5px;
    position: relative;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card:nth-child(3n){
    clear: both;
}

.search-block{
    width: 500px;
    margin-left: calc(50% - 250px);
}
.result-search {
    position: absolute;
    margin-left: calc(50% - 250px);
    z-index: 10;
    border-radius: 10px;
}
.result-search ul{
    list-style: none;
    background-color: white;
    width: 500px;
    margin: 0;
    padding: 0;
}
.result-search ul li {
    border-bottom: 1px solid black;
}
.result-search ul li h6 {
    font-size: 14px;
    margin: 0;
    padding: 10px;
}
.removeUserBlock{
    position: fixed;
    text-align: center;
    width: 400px;
    margin-left: calc(50% - 200px);
    z-index: 2;
    background-color: rgb(255, 211, 190);
    box-shadow: 0 10px 60px rgb(0, 0, 0);
}
/*Form-Add-User*/
.modal-window {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
}
.modal-window-form {
    display: inline-block;
    width: 500px;
    padding: 10px;
    box-shadow: 0 0 200px rgba(0,0,0,0.7);
    background-color: rgb(138, 140, 255);
    border-radius: 10px;
}
/*----------------------*/

.buttonAdmin{
    text-align: center;
}
.messageBlock{
    position: fixed;
    width: 400px;
    margin-left: calc(50% - 200px); 
    margin-top: 200px;
    text-align: center;
}
.messageSetting{
    width: 100%;
    position: absolute;
    text-align: center;
    background: rgba(160, 143, 255, 0.664);
}
.messageSetting h3{
    color: white;
}
.option-status{
    width: 200px !important;
}
.list ul{
    display: inline;
}
.list ul li{
    text-align: center;
    list-style: none;
}
.list ul li a{
    margin: 10px;
}
.list-users{
    display: flex;
    margin: 0 10px 0 10px;
}
.list{
    text-align: center;
}
.list h3{
    color: rgb(112, 112, 112);
}
.my-pagination /deep/ .ngx-pagination .current {
    background: red;
  }