form{
    position: relative;
    width: 50%;
    margin-left: 25%;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    padding: 20px;
}
form a {
    margin-left: 10px;
    color: white;
    color: rgba(240, 255, 255, 0.774);
}
.form-group small{
    color: rgba(240, 248, 255, 0.842) !important;
}
input.ng-touched.ng-invalid {
    border:solid red 2px;
}
input.ng-touched.ng-valid {
    border:solid green 2px;
}