
<form class="form-users" #last="ngForm" (ngSubmit) = "onSubmitCheckIn(last)">
  <div class="form-group">
      <label for="exampleInputName1">Name</label>
      <input type="text" name="name" ngModel required #name = "ngModel" class="form-control"  aria-describedby="nameHelp" placeholder="Name">
 <small id="nameHelp" class="form-text text-muted" [hidden]="name.valid || name.untouched">Имя не указано</small> 
  </div>
  <div class="form-group">
      <label for="exampleInputSurname1">Surname</label>
      <input type="text" name="surname" ngModel required #surname = "ngModel" class="form-control" aria-describedby="surnameHelp" placeholder="Surname">
      <small id="surnameHelp" class="form-text text-muted" [hidden]="surname.valid || surname.untouched">Фамилия не указана</small> 
  </div>
  <div class="form-group">
      <label for="exampleInputLogin2">Login</label>
      <input type="text" name="login" ngModel  #login = "ngModel" class="form-control" aria-describedby="loginHelp" placeholder="Login">
      <small id="loginHelp" class="form-text text-muted" [hidden]="login.valid || login.untouched">Логин не указан</small> 
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Email address</label>
    <input type="email" name="email" ngModel  #email = "ngModel" required pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" class="form-control"aria-describedby="emailHelp" placeholder="Email">
    <small id="emailHelp" class="form-text text-muted" [hidden] = "email.valid||email.untouched">Неккоректный Email</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword2">Password</label>
    <input type="password" name="password" required ngModel  #password = "ngModel" class="form-control" placeholder="Password">
    <small [hidden]="password.valid || password.untouched">Пароль не указан</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>