<div class="koll-closed-user"> <p>Количество новых пользователей: {{numberOfClosedUsers}}</p></div>
<div class="users">
  <div class="card" style="width: 18rem;" *ngFor = 'let closedUser of closedUsers'>
    <div class="card-body">
      <h6 class="card-title">{{closedUser.name}}</h6>
      <h6 class="card-title">{{closedUser.surname}}</h6>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><h6>Login: {{closedUser.login}}</h6></li>
      <li class="list-group-item"><h6>Email: {{closedUser.email}}</h6></li>
      <li class="list-group-item"><h6>Status: {{closedUser.status}}</h6></li>
      <li class="list-group-item"><h6>Id: {{closedUser._id}}</h6></li>
      <li class="list-group-item"><h6>Closed: {{closedUser.closed}}</h6></li>
    </ul>
    <div class="card-body">
      <button class="btn btn-success" #btnRemove value="{{closedUser._id}}" (click) = 'openUser($event)'>Пользователь</button>
      <button class="btn btn-success" #btnRemove value="{{closedUser._id}}" (click) = 'openAdmin($event)'>Админ</button>
      <button  class="btn btn-danger" #btnDelete value="{{closedUser._id}}" (click) = 'deleteUser($event)'>Удалить</button>
    </div>
</div>