.users{
    text-align: center;
}
.card{
    width: 30%;
    margin: 5px;
    position: relative;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card:nth-child(3n){
    clear: both;
}
.removeUserBlock{
    position: fixed;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    border-radius: 30px;
    z-index: 2;
    background-color: rgb(221, 137, 255);
    box-shadow: 0 0 60px rgba(0,0,0,0.7);
}
.form-users{
    margin: 20px 0 20px 0;
    display: inline-block;
    min-width: 200px;
    max-width: 500px;
}
.koll-closed-user p{
    text-align: center;
    color: white;
}
.btn{
    margin: 5px;
}
.koll-closed-user p{
    color: black;
}