{{popupNameBook}}
<form [formGroup]="addNewBookForm" (ngSubmit)="onSubmitAddNewBook()">
  <div class="form-group">
    <input type="text" name="title" class="form-control" formControlName="title" aria-describedby="nameHelp"
      placeholder="Title" [ngClass]="{ 'is-invalid': submitted && errorInput.title.errors }">
    <div *ngIf="submitted && errorInput.title.errors" class="invalid-feedback">
      <div *ngIf="errorInput.title.errors.required">First Title is required</div>
    </div>
  </div>
  <div class="form-group">
    <input type="file" (change) = chooseImg($event) name="picture" class="form-control" formControlName="picture" aria-describedby="nameHelp"
      placeholder="Link Picture" [ngClass]="{ 'is-invalid': submitted && errorInput.picture.errors }">
    <div *ngIf="submitted && addNewBookForm.controls.picture.errors" class="invalid-feedback">
      <div *ngIf="errorInput.picture.errors.required">Add</div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="description" name="description" placeholder="Description"
      [ngClass]="{ 'is-invalid': submitted && errorInput.description.errors }">
    <div *ngIf="submitted && errorInput.description.errors" class="invalid-feedback">
      <div *ngIf="errorInput.description.errors.required">First Description is required</div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" formControlName="text" name="description" placeholder="text" [ngClass]="{ 'is-invalid': submitted && errorInput.text.errors }">
    <div *ngIf="submitted && errorInput.text.errors" class="invalid-feedback">
      <div *ngIf="errorInput.text.errors.required">First Text is required</div>
    </div>
  </div>
  <div class="form-group">
    <select class="form-control" formControlName="magazineId" [ngClass]="{ 'is-invalid': submitted && errorInput.magazineId.errors }">
      <option value="" ng-selected>No magazine</option>
      <option *ngFor="let magazine of allMagazine; let i = index" value={{magazine._id}}>{{magazine.title}}</option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control" id="inputGroupSelect01" formControlName="authorId" (change)="expression($event)"
      [ngClass]="{ 'is-invalid': submitted && errorInput.authorId.errors }">
      <option value="" disabled ng-selected>Select Author</option>
      <option *ngFor="let author of allAuthors; let i = index" value={{author._id}} [ngClass]="{invisible: visibility}">{{author.name}}</option>
    </select>
  </div>
  <div class="added-authors">
    {{this.addedAuthorError}}
    <ul *ngFor="let selectAuthor of authorsArr; let i = index">
      <li>
        <h6>{{selectAuthor.name}} <button value={{i}} (click)="deleteAddedAuthor($event)">Удалить</button></h6>
      </li>
    </ul>
  </div>
  <button type="submit" class="btn btn-primary">{{popupNameBook}}</button>
</form>