<div class="messageBlock">
  <div *ngIf = "messageSetting" class="messageSetting">
    <h3>{{message}}</h3>
  </div>
</div>
<div class="admin-users">
  <div class="title">
    <h3>Настройки админимтратора</h3>
  </div>
  <div class="list">
      <ul>
        <li>
          <a [routerLink]="'library'">Литература</a>
          <a [routerLink] = "'users'">Пользователи</a>
          <a [routerLink] = "'closed'">Новые запросы</a>
        </li>
      </ul>
    </div>
</div>
<router-outlet></router-outlet>