.admin-users{
    display: grid;
    width: 100%;
    height: 40%;
}
.title{
    display: flex;
    justify-content: center;
    text-align: center;
}
.list ul{
    display: inline;
}
.list ul li{
    text-align: center;
    list-style: none;
}
.list ul li a{
    margin: 10px;
}
.list-users{
    display: flex;
    margin: 0 10px 0 10px;
}
a{
    color: black;
}
.buttonAdmin{
    text-align: center;
    margin: 10px 0 10px 0;
}
.btn-success{
    display: inline;
}
.addUser{
    text-align: center;
}
.form-users{
    display: inline-block;
    width: 400px;
}

