<h1>Book</h1>
<div class="card-book">
  <img src={{bookData?.picture}} alt="" class="img-book">
  <div>
    <h5 class="">Title: {{bookData?.title}}</h5>
    <p class="">Description: {{bookData?.description}}</p>
    <p>Text: {{bookData?.text}}</p>
    <!-- <a  [routerLink] = "['open-author', authorData?._id]">Author: {{authorData?.name}}</a> -->
    <div class="book-authors">
      <ul *ngFor="let authorId of authorId">
        <li>
          <a [routerLink]="['/admin/setting/library/open-author/', authorId._id]">{{authorId._id}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>