<div class="books">
  <div class="card" style="width: 18rem;" *ngFor='let getBookData of bookWithoutAuthor | paginate: { itemsPerPage: 9, currentPage: pb }; let i = index'>
    <h4>Book</h4>
    <div class="card-body">
      <img src={{getBookData.picture}} class="img-fluid" alt="Адаптивные изображения">
      <h6 class="card-title">Название: {{getBookData.title}}</h6>
      <h6 class="card-title" *ngFor="let getAuthor of getBookData.authorId"><a class="link-author" [routerLink]="['open-author', getAuthor._id]">Автор:
          {{getAuthor._id}}</a></h6>
      <h6 class="card-title" id="descriptionsBook">Описание: {{getBookData.description}}</h6>
    </div>
    <div class="card-body">
      <button class="btn btn-warning" value={{getBookData.magazineId}} [routerLink]="['open-magazine', getBookData.magazineId ]"
        *ngIf="getBookData.magazineId != ''">Open Magazine</button>
      <button class="btn btn-success" #btnRemoveBook value="{{i}}" (click)='removeBook(getBookData)'>Update</button>
      <button class="btn btn-danger" #btnDeleteBook value="{{i}}" (click)='deleteBook($event)'>Delete</button>
      <button class="btn btn-primary" #btnOpenBook value="{{i}}" [routerLink]="['setting-library-open-book', getBookData._id]">Open
        Book</button>
    </div>
  </div>
</div>