.authorization-block{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.head {
    position: relative;
    display: inline-block;
    list-style: none;
    top: 10px;
}
.authorization-block ul{
    margin-top: 10px;
    padding: 0;
}
ul li{
    display: inline-block;
    padding: 0;
}
ul li a{
    background: none;
    border: 2px solid black;
    color: black;
    font-size: 20px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 1s;
}
ul li a:hover{
    color: gray;
}
li:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
}
.text-head{
    text-align: center;
    margin: 20px 0 20px 0;
}
.text-head h3{
    margin: 0;
}
