<div class="text-head">
  <h3>The Future Is Now</h3>
  <h4>E-Library</h4>
</div>
<div class="row">
    <div class="authorization-block"> 
      <ul>
        <li>
          <a routerLink = "/login">login</a>
        </li>
        <li>
          <a routerLink = "/check">Check In</a>
        </li>
      </ul>
    </div>
</div>
<div>
</div>
<router-outlet></router-outlet>