<header>
  <app-conteiner-admin-footer></app-conteiner-admin-footer>
</header>

<section>
  <div class="list">
    <ul>
      <li>
        <a [routerLink] = "'personal'">Личный кабинет</a>
      </li>
      <li>
        <a [routerLink] = "'library'">Библиотека</a>
      </li>
    </ul>
  </div>
</section>

<section>
  <router-outlet></router-outlet>
</section>

<app-conteiner-admin-header></app-conteiner-admin-header>