.list {
    ul{
    text-align: center;
    padding: 0;
        li{
            padding: 10px;
            display: inline;
            text-align: center;
            list-style: none;
            a{
                color: rgb(0, 0, 0);
                text-decoration: none;
                transition: 0.5s;
            }
            .list ul li a:hover{
                color: rgb(110, 110, 110);
            }
        }
    }
}
