.buttonAdmin{
    text-align: center;
    margin: 10px 0 10px 0;
}
.btn{
    margin: 5px !important;
}
.btn-success{
    display: inline;
}
.books{
    text-align: center;
}
.card{
    width: 30%;
    margin: 5px;
    position: relative;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card:nth-child(3n){
    clear: both;
}
.search-block{
    width: 500px;
    margin-left: calc(50% - 250px);
}
.result-search {
    position: absolute;
    margin-left: calc(50% - 250px);
    z-index: 10;
    border-radius: 10px;
}
.result-search ul{
    list-style: none;
    background-color: white;
    width: 500px;
    margin: 0;
    padding: 0;
}
.result-search ul li {
    border-bottom: 1px solid black;
}
.result-search ul li h6 {
    font-size: 14px;
    margin: 0;
    padding: 10px;
}
.list-users{
    display: flex;
    margin: 0 10px 0 10px;
}
.list{
    text-align: center;
}
.list h3{
    color: rgb(112, 112, 112);
}
a{
    color: white;
}
.addBook{
    text-align: center;
}
.variant-author-library{
    text-align: center;
    margin: 10px 0 10px 0;
}
.button-addBook{
    text-align: center;
}
.authors{
    text-align: center;
}
.addAuthor{
    text-align: center;
}
.removeUserBlock{
    position: fixed;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    border-radius: 30px;
    z-index: 2;
    background-color: rgb(221, 137, 255);
    box-shadow: 0 0 60px rgba(0,0,0,0.7);
}
.textarea-description{
    resize: none;
}
.modal-window {
    position: fixed;
    z-index: 2;
    width: 100%;
    text-align: center;
}
.modal-window-form {
    display: inline-block;
    width: 500px;
    padding: 10px;
    box-shadow: 0 0 200px rgba(0,0,0,0.7);
    background-color: rgb(138, 140, 255);
    border-radius: 10px;
}
.button-addBook button:last-child{
    margin-left: 10px;
}
/*  */
.link-author{
    color: black;
}