<div class="list">
  <h3>
    Setting Library
  </h3>
</div>
<!-- Search book -->
<div class="search-block">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Search</span>
    </div>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" (keyup)="onKey($event)">
  </div>
</div>
{{messageError}}
<div>
  <div class="variant-author-library">
    <button (click)=showBlock() class="btn btn-primary">{{openBlock}}</button>
    <button  [routerLink] = "'without-author'" class="btn btn-primary">literature Without An Author</button>
  </div>
</div>
<div *ngIf="blockLibrary">
  <div class="button-addBook">
    <button class="btn btn-success" (click)="setBooksForm()">Add Book</button>
    <button class="btn btn-success" (click)="setMagazineForm()">Add Magazine</button>
  </div>
  <div class="modal-window" *ngIf="popupBook">
    <popup-admin-book class="modal-window-form" [allAuthors]="allAuthors" [popupNameBook]="popupNameBook"
      (popupBookResult)="popupBookResult($event)" [getBookData]="getBookData">
    </popup-admin-book>
  </div>
  <div class="modal-window" *ngIf=popupMagazine>
    <popup-admin-magazine class="modal-window-form" [allAuthors]="allAuthors" [popupNameMagazine]="popupNameMagazine"
      (popupMagazineResult)="popupMagazineResult($event)" [getMagazineData] = "getMagazineData">
    </popup-admin-magazine>
  </div>

  <div class="books">
    <div class="card" style="width: 18rem;" *ngFor='let getBookData of allBooks | paginate: { itemsPerPage: numberOfBooks, currentPage: showPageBook }; let i = index'>
      <h4>Book</h4>
      <div class="card-body">
        <img src={{getBookData.picture}} class="img-fluid" alt="Адаптивные изображения">
        <h6 class="card-title">Название: {{getBookData.title}}</h6>
        <h6>Author</h6>
        <h6 class="card-title" *ngFor="let getAuthor of getBookData.authorId"><a class="link-author" [routerLink]="['open-author', getAuthor._id]">
          {{(getAuthor.name.length>10)? (getAuthor.name | slice:0:10)+'...' : (getAuthor.name)}}</a></h6>
        <h6 class="card-title" id="descriptionsBook">Описание: {{getBookData.description}}</h6>
      </div>
      <div class="card-body">
        <button class="btn btn-warning" value={{getBookData.magazineId}}
          [routerLink]="['open-magazine', getBookData.magazineId ]" *ngIf="getBookData.magazineId != ''">Open Magazine</button>
        <button class="btn btn-success" #btnRemoveBook value="{{i}}" (click)='removeBook(getBookData)'>Update</button>
        <button class="btn btn-danger" #btnDeleteBook value="{{i}}" (click)='deleteBook($event)'>Delete</button>
        <button class="btn btn-primary" #btnOpenBook value="{{i}}" [routerLink]="['setting-library-open-book', getBookData._id]">Open
          Book</button>
      </div>
    </div>
    <div class="card" style="width: 18rem;" *ngFor='let getMagazineData of allMagazine; let i = index'>
      <h4>Magazine</h4>
      <div class="card-body">
        <img src={{getMagazineData.picture}} class="img-fluid" alt="Адаптивные изображения">
        <h6 class="card-title">Название: {{getMagazineData.title}}</h6>
        <h6 class="card-title"><a class="link-author" [routerLink]="['open-author', getMagazineData.authorId]">Автор:
            {{getMagazineData.authorId}}</a></h6>
        <h6 class="card-title" id="descriptionsBook">Описание: {{getMagazineData.description}}</h6>
      </div>
      <div class="card-body">
        <button class="btn btn-success" #btnRemoveBook value="{{i}}" (click)='removeMagazine(getMagazineData)'>Update</button>
        <button class="btn btn-danger" #btnDeleteBook value={{getMagazineData._id}} (click)='deleteMagazine($event)'>Delete</button>
        <button class="btn btn-primary" #btnOpenBook value="{{i}}">Open Magazine</button>
      </div>
    </div>
    <pagination-controls class="my-pagination" (pageChange)="showPageBook = $event"></pagination-controls>
  </div>
</div>

<div *ngIf="authorLibrary">
  <div class="modal-window" *ngIf="popupAuthor">
    <app-popup-admin-add-author class="modal-window-form" [getAuthorData]="getAuthorData" [popupNameAuthor]="popupNameAuthor"
      (popupAuthorResult)="popupAuthorResult($event)">
    </app-popup-admin-add-author>
  </div>
  <div class="button-addBook">
    <button class="btn btn-success" (click)=setAuthorForm()>Add Author</button>
  </div>

  <div class="authors">
    <div class="card" style="width: 18rem;" *ngFor='let getAuthorData of allAuthors | paginate: { itemsPerPage: 9, currentPage: pa }; let i = index'>
      <div class="card-body">
        <h6 class="card-title">{{getAuthorData.name}}</h6>
        <div class="card-body">
          <button class="btn btn-success" #btnRemoveAuthor value="{{i}}" (click)='removeAuthor(getAuthorData)'>Update</button>
          <button class="btn btn-danger" #btnDeleteAuthor value="{{i}}" (click)='deleteAuthor($event)'>Delete</button>
        </div>
      </div>
    </div>
    <pagination-controls class="my-pagination" (pageChange)="pa = $event"></pagination-controls>

    <div class="result-search">
    <ul *ngFor="let auth of liveSearchAuth">
        <li><a>{{auth.name}}</a></li>
    </ul>
</div>
<div class="result-search">
    <ul *ngFor="let book of liveSearchBook">
      <li (click) = "openSearchBook($event)"><a>{{book.title}}</a></li>
    </ul>
</div>