<h1>Magazine</h1>
<div class="card-book">
        <img src={{magazineData?.picture}} alt="" class="img-book">
          <div>
            <h5 class="">Title: {{magazineData?.title}}</h5>
            <p class="">Description: {{magazineData?.ditections}}</p>
            <p>Text: {{magazineData?.text}}</p>
            <p>Author: {{magazineData?.authorId}}</p>      
          </div>
      </div>