<form [formGroup]="AuthorForm" (ngSubmit)="onSubmitAuthor()">
<div class="form-group">
    <input type="text" name="name" formControlName="name" class="form-control" aria-describedby="nameHelp"
        placeholder="Name" [ngClass]="{ 'is-invalid': submitted && errorInput.name.errors }">
    <div *ngIf="submitted && errorInput.name.errors" class="invalid-feedback">
        <div *ngIf="errorInput.name.errors.required">First Name is required</div>
    </div>
</div>
<button type="submit" class="btn btn-primary">{{popupNameAuthor}}</button>
</form>