form{
    position: relative;
    width: 50%;
    margin-left: 25%;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
    padding: 20px;
}
form a {
    margin-left: 10px;
    color: white;
}
.message{
    text-align: center;
    color: rgba(20, 20, 20, 0.774);
}
.form-group small{
    color: rgba(240, 248, 255, 0.842) !important;
}
button:focus{
    background-color: green !important;
}