<div class="message">
  <h6>{{message}}</h6>
</div>

<form class="form-users" #first="ngForm" (ngSubmit) = "onSubmitSignIn(first)">
  <div class="form-group">
    <label for="exampleInputLogin1">login</label>
    <input type="text" name="login" ngModel required #login="ngModel" class="form-control" id="exampleInputLogin1" aria-describedby="nameHelp" placeholder="Login">
    <small id="nameHelp" class="form-text text-muted" [hidden]="login.valid || login.untouched">Введите логин</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" ngModel required #password="ngModel" class="form-control" id="exampleInputPassword1" placeholder="Password">
    <small id="nameHelp" class="form-text text-muted" [hidden]="password.valid || password.untouched">Введите логин</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
